.form_container > * {
  box-sizing: border-box;
}
.form_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
}

.comeBack {
  text-decoration: none;
  color: #000;
  position: absolute;
  top: 14px;
  left: 30px;
}

.comeBack:visited {
  color: #000;
}

.comeBack_Bottom {
  background: rgb(242, 242, 242);
  border-radius: 10px;
  padding: .2em 1em;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 3px;
  transition: 100ms;
}

.comeBack_Bottom:hover {
  background: radial-gradient(circle, rgb(88, 194, 204), rgb(0, 131, 144));
  border: rgb(0, 131, 144) solid 3px;
  box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(119, 169, 181);
  padding: 1em;
  width: 60%;
  border: 5px  rgb(43, 43, 43) solid;
  outline: rgb(9, 182, 0) solid 4px;
}

.input_container {
  border-bottom: #000 solid 1px;
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 25px;
  padding-bottom: 1em;
}

.input_container:not(:last-child)  > input {
  font-size: 20px;
  outline: none;
  border: none;
  width: 45%;
  height: 2em;
  background: linear-gradient(to bottom, transparent, rgb(184, 64, 104))
}

.input_container:last-child{
  display: flex;
  justify-content: center;
}

.input_container:last-child > input{
  background-color: rgba(101, 197, 215, 0.34);
  border: none;
  border-bottom: 1px solid #111;
  width: 40%;
  height: 3.5em;
  transition: 250ms;
}

.input_container:last-child > input:hover{
  background: rgb(101, 197, 215);
  box-shadow: 0px 0px 5px 3px rgb(72, 137, 149);
}


.platforms {
  font-size: 21px;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

.platforms > div {
  display: flex;
  align-items: center;
}

.platforms > div > input {
  margin-left: .5em;
}

.genres {
  font-size: 21px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px;
  padding-bottom: 1em;
}

.genres > div {
  display: flex;
  align-items: center;

}

.genres > div > input {
  margin-left: .5em;
}

.rating_container {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

.print_rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: -20px;
}

.rating_container > input {
  width:100%;
}

.error_label {
  position: absolute;
  right:  22em;
  margin-top: 5em;
  font-size: 15px;
  letter-spacing: 1.7px;
  color: rgb(222, 33, 33);
  font-weight: bold;
}

.error {
  border: black solid 10px;
}

.error_label_genre {
  position: absolute;
  right:  22em;
  margin-top: 13em;
  font-size: 15px;
  letter-spacing: 1.7px;
  color: rgb(222, 33, 33);
  font-weight: bold;
}
