.pagination_container{
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 1em;
}

.pagination_container button{
  margin: 0 .6em;
  background: transparent;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  font-size: 25px;
}

.pagination_container button:hover{
  color: #6bbdd0;
}


.number_button:focus{
  color: #6bbdd0;
}
